.circularText {
  margin: 0 auto;
  border-radius: 50%;
  width: 100%;
  position: relative;
  height: 100%;
  font-weight: 900;
  color: inherit; /* inherit from parent container */
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.circularText span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 14px; /* Scaled down to fit the badge size */
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
